<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://job-assignment-backend.onrender.com/css/style.css">
    <title>Email Template</title>
</head>
<body>
    <img src="https://job-assignment-backend.onrender.com/images/alert.jpg" alt="job alert image">
    <h2>Hi,</h2>

    <p>
        <%= message %>
    </p>

    <p>Apply for the job, and get a chance  to work with the top software developers</p>


    <p>Application End Date - <%= endDate %></p>

    <p>Thank You</p>
    
</body>
</html>